/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import url('./offline.css');
@import url('./shine.css');
@import url('./parallax.css');

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

html {
  font-size: 16px;
}

@media (width <= 768px) {
  html {
    font-size: 14px;
  }
}

@media (width <= 480px) {
  html {
    font-size: 12px;
  }
}

.champion-callout-header {
  text-align: center;
  margin: 1rem;
}

.champion-callout-header-container {
  height: fit-content;
  margin-bottom: 1rem;
}

.champion-callout-header-text {
  font-size: 2rem;
  margin: 0;
}

.champion-callout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
}

.champion-callout-image {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
}

.champion-callout-image.large {
  width: 12vw;
}

.champion-callout-image-container {
  min-width: 70px;
  display: flex;
  justify-content: center;
}

.champion-callout-content {
  padding: 0 2rem;
  height: 60%;
  flex-grow: 1;
}

.champion-callout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.champion-matchup-container {
  display: flex;
  justify-content: center;
  height: 45%;
}

.champion-matchup-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  width: 30%;
}

.champion-matchup-component.vs {
  width: 10%;
  margin: 0 1rem;
  justify-content: center;
}

.champion-matchup-image-container {
  height: 40%;
  text-align: center;
  margin: 0.25rem 0;
}

.champion-matchup-score {
  height: 20%;
  text-align: center;
  font-size: 1.5rem;
}

.champion-matchup-team-name {
  text-align: center;
  height: 40%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.champion-mvp-showcase {
  display: flex;
  height: 55%;
}

.champion-quote {
  width: 60%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-2 {
  font-size: 2rem;
}

.mvp-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  margin-top: 0;
  max-height: 80%;
}

.mvp-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.mvp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  text-align: center;
}

.mvp-text {
  max-height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 100%;
  text-align: center;
  font-weight: normal;
}

.mvp-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.offline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.page-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 93vh;
  width: 93vw;
  position: relative;
  padding: 0 30px;
}

.text-align-center {
  text-align: center;
}

.tw-button-no-border {
  padding-right: 3px;
  border: none;
  background: none;
  display: flex;
}

.tw-button-no-border:hover {
  text-shadow: 0 0 1px black;
}

.tw-header-div {
  display: flex;
  flex-direction: row;
}

.tw-grouped-buttons {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.tw-body {
  background-color: rgb(88 88 88);
}

.week-overview {
  min-width: 50%;
}

@media (width <= 1180px) {
  .page-section {
    padding: 0 5px;
  }

  @media (width < 900px) {
    .champion-matchup-component.vs {
      margin: 0 1.5rem;
    }

    .champion-mvp-showcase {
      flex-direction: column;
      align-items: center;
    }

    .champion-quote {
      flex-grow: 1;
    }

    .mvp-image-wrapper {
      flex-direction: row;
      width: 100%;
    }

    .mvp-image-container {
      margin-left: 0;
      margin-right: 0;
    }

    .mvp-image-stats {
      margin: 0.5rem 0;
    }
  }

  @media (width < 800px) {
    .champion-callout-wrapper {
      width: 100%;
    }

    .champion-mvp-showcase {
      flex-direction: row;
      align-items: center;
    }

    .mvp-image-wrapper {
      flex-direction: column;
      width: 40%;
    }

    .champion-callout-image.large {
      width: 24vw;
    }

    .page-section {
      flex-direction: column;
    }
  }
}
