<div class="tw-header-div">
    <div class="tw-grouped-buttons">
        <LinkTo @route="home" class="tw-button-no-border">
            Toasty Waffles 
        </LinkTo> 
        <button class="tw-button-no-border" type="button">
            2024 - 2025
        </button>
    </div>
    <button class="tw-button-no-border" type="button">
        League 
    </button> 
    <button class="tw-button-no-border" type="button">
        Teams 
    </button>
</div>
<hr>