<ul>
  <li>
    <LinkTo class="tw-button-no-border" @route="home.year" @model="2024">
      2024 - 2025
    </LinkTo>
  </li>
  <li>
    <LinkTo class="tw-button-no-border" @route="home.year" @model="2023">
      2023 - 2024
    </LinkTo>
  </li>
</ul>