{{page-title "League"}}

{{#each @model.league.divisions as |division|}}
  <h2>{{division.divisionName}}</h2>
  <ul>
    {{#each division.teams as |team|}}
      <li>{{team.teamName}}</li>
    {{/each}}
  </ul>
{{/each}}