{{page-title "Index"}}

<div class="page-section">
  <div class="week-overview">
    Week 1
  </div>
  <div class="champion-callout-wrapper">
    <ChampionCallout @champion={{@model.champion}} />
  </div>
</div>