{{page-title "League"}}

{{!-- {{#each this.divisions as |division|}}
  <h2>{{division.name}}</h2>
  <ul>
    {{#each division.teams as |team|}}
      <li>{{team.name}}</li>
    {{/each}}
  </ul>
{{/each}} --}}